[submodule "basiclang/tinybasic"]
	path = basiclang/tinybasic
	url = https://github.com/slviajero/tinybasic
[submodule "old/phase-2/hb6502"]
	path = old/phase-2/hb6502
	url = https://github.com/adumont/hb6502.git
[submodule "lisp/basic-lisp"]
	path = lisp/basic-lisp
	url = https://github.com/paoloboschini/basic-lisp.git
[submodule "lisp/ebasic"]
	path = lisp/ebasic
	url = https://github.com/csebold/ebasic.git
[submodule "video-out/MCU/RPTerm/PicoTerminal-1.1.3/kilipili"]
	path = video-out/MCU/RPTerm/PicoTerminal-1.1.3/kilipili
	url = https://github.com/Megatokio/kilipili
